.timepicker
{
    background-color: #f2f5ed;
    border: 1px solid #226e0f;
    font-family: tahoma, verdana, helvetica;
    font-size: 11px;
}
.header
{
    background-image: url(header.jpg);
    background-repeat: repeat-x;
    background-position: top;
    border-bottom: 1px solid #226e0f;
}
.title
{
    color: #226e0f;
    font-weight: bold;
}

.selecteditem
{
    background-color: #E3ECDB;
    color: #226e0f;
    border: 1px solid #226e0f;
}
.item
{
    padding: 1px !important;
}
.item:hover
{
    background-color: #E3ECDB !important;
    color: #226e0f !important;
}
.selectedtab
{
    background-color: #E3ECDB;
    color: #226e0f;
    border: 1px solid #226e0f;
}

.tab
{
    background-color: #f2f5ed;
    color: #226e0f;
    border: 1px solid #226e0f;
}
.tab:hover
{
    background-color: #E3ECDB;
    color: #226e0f;
    border: 1px solid #226e0f;
}
